:root {
	--bgcolor: #000000;
	--fgcolor: #999999;
	--linkcolor: #e6bd08;
	--visitedcolor: #3fb1c0;
}

@media (prefers-color-scheme: light) {
	:root {
		--bgcolor: #f0f0f0;
		--fgcolor: #000000;
		--linkcolor: #0000ff;
		--visitedcolor: #ff00ff;
	}
}

html {
	background-color: var(--bgcolor);
	
	color: var(--fgcolor);
	max-width: 100%;
	font-family: monospace;
	font-size: 1.25vw;	
	position: absolute;
	min-height: 100%;
	left: 0%;
	right: 0%;
	top: 0%;
	overscroll-behavior: none;
	
}


a:link {
	color: var(--linkcolor);
}

a:visited {
	color: var(--visitedcolor);
}

section {
	background-color: #b701ff50;
	width: auto; 
	word-wrap: break-word;
	padding: 8%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-top: 3%;
	height: 100%;
}




#header {
	
	border-right: #050505 4px solid;
	height: 100%;
	width: 16%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff;
	padding-top: 20px;
	align-items: center;
}


body {
	background-color: #ffffff85;
	position: relative;
	left: 15%;
	margin-right:15%;
	margin-top: 0%;
	width: auto;
	bottom: 0%;	
	height: 100%;
}



#header ul {
	list-style-type: none;
	align-items: center;
	padding: 10px;
}

#header ul li{
	margin: px;
}

#header ul li a, #header button {
	color: #af0000e1;
	font-weight: 900;
	font-size: x-large;
	
}
#header button {
	background:transparent;
	border: none;
	padding: 8%;
	font-size: 1.25vw;	
}
#header button:hover 
{
	color: #ac6100;
	transition: 0.2s;
	font-size: 1.30vw;
}


li#go-back{
	position:absolute;
	bottom:5%;	
}

li#go-back a {
	font-size: 1.25vw;
}


.content-1{

	background-color: #e7e5e5;
	opacity: 100%;
	color: #000000;
	margin: 1.75%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100px;

}


#iframe-bck-grnd{

	position: absolute;
	width: 100%;
	border: none;
	z-index: -1;
	height: 100%;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	opacity: 80%;

}